<div class="">
    <br>
    <h2 class="text-center">Tableau de bord</h2>
    <br>
    <div class="card shadow">
        <div class="card-body" style="background-color: whitesmoke;">
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Stagiaires Actifs</h5>
                            <p class="card-text">Nombre de stagiaires actuellement en stage : 236</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-success mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Stages en Cours</h5>
                            <p class="card-text">Nombre de stages en cours : 236</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-danger mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Stages Échus</h5>
                            <p class="card-text">Nombre de stages échus : 17</p>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row mb-3">
            <!-- ... Les cartes pour les statistiques restent les mêmes ... -->
            <!-- <div class="col-md-12">
                <div style="height: 400px;">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend">
                        [chartType]="'bar'">
                    </canvas>
                </div>
            </div> -->
        </div>
    </div>
</div>
