<div class="">
    <div class="card shadow mb-4">  
        <div class="card-body" style="background-color: whitesmoke;">
            <div class="table-responsive">
                <h3 class="text-center text-secondary">Liste des stagiaires</h3>
                <table class="table table-bordered " id="table">
                    <!-- datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger" -->
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <!-- <th>UUID</th> -->
                            <th>NNI</th>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Genre</th>
                            <th>DateNaiss</th>
                            <th>Nationnalité</th>
                            <th>Telephone</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Etablissement</th>
                            <th>Formation</th>
                            <th>Niveau</th>
                            <th>Supprimer</th>
                            <th>Modifier</th>
                            <th>Ajouter_Stage</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let stagiaire of (stagiaires ?? []) | paginate : {
                        itemsPerPage : 10,
                        currentPage : page,
                        totalItems : totalLength,
                    }">
                        <tr class="text-center">
                            <td>{{stagiaire.uio}}</td>
                            <!-- <td>{{stagiaire.uuid}}</td> -->
                            <td>{{stagiaire?.nni}}</td>
                            <td>{{stagiaire?.prenom}}</td>
                            <td>{{stagiaire?.nom}}</td>
                            <td>{{stagiaire?.genre}}</td>
                            <td>{{stagiaire?.datenaiss | date:'dd/MM/yyyy'}}</td>
                            <td>{{stagiaire?.nationnalite}}</td>
                            <td>{{stagiaire?.telephone}}</td>
                            <td>{{stagiaire?.adresse}}</td>
                            <td>{{stagiaire?.email}}</td>
                            <td>{{stagiaire?.etablissement}}</td>
                            <td>{{stagiaire?.formation}}</td>
                            <td>{{stagiaire?.niveau}}</td>
                            <td><a class="btn btn-outline-danger" (click)="supprimerStagiaire(stagiaire)"><i class="fas fa-trash fa-sm fa-fw mr-2"></i></a></td>
                            <td><a class="btn btn-outline-success" [routerLink]="['/majstagiaire',stagiaire.uio]"><i class="fas fa-edit fa-sm fa-fw mr-2"></i></a></td>
                            <td><a class="btn btn-outline-primary" [routerLink]="['/ajoutstage', stagiaire.uio]"><i class="fas fa-plus-circle"></i></a></td>
                        </tr>
                    </tbody>
                </table>

                <div class="pagination">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>                

                <h5 class="text-secondary text-center">Filtrer par Champs</h5>
                <br>
                <form class="mb-4">
                    <div class="form-row">
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="prenom" placeholder="Prenom" [(ngModel)]="prenom" name="prenom" (ngModelChange)="rechercherParPrenom()">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="nom" name="nom" (ngModelChange)="rechercherParNom()">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="nni" placeholder="Nni" [(ngModel)]="nni" name="nni" (ngModelChange)="rechercherParNni()">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="telephone" placeholder="Telephone" [(ngModel)]="telephone" name="telephone" (ngModelChange)="rechercherParTelephone()">
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>